<html>
  <%- include("partials/meta"); -%>
  <body>
    <%- include("partials/header"); -%> <%- include("partials/home/slider"); -%>
    <!-- CONTENT START -->
    <div class="pagecontent">
      <hr />
      <%- include("partials/home/services"); -%>
      <hr />
      <%- include("partials/home/clients"); -%>
      <!-- <hr /> -->
      <%- include("partials/home/works"); -%>
    </div>
    <!-- CONTENT END -->
    <%- include("partials/footer"); %> <%- include("service/scripts-end"); -%>
  </body>
</html>
